#error-page {
    --background-color-all: white;

    --display-error-code-color: red;
    --display-explain-color: red;

    --btn-back-foreground-color: white;
    --btn-back-background-color: #585959;
    --btn-back-background-color-hover: #32373c;
    --btn-back-border-color: #ccc;

    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-all);
}
#error-page * {
    text-align: center;
    margin-bottom: 20px;
}

#error-page .container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-page .picture img {
    width: 300px;
}
#error-page .content {
    margin-top: -50px;
}

#error-page .display-error-code {
    font-size: 3em;
    color: var(--display-error-code-color);
}
#error-page .display-explain {
    font-size: 1.2em;
    color: var(--display-explain-color);
}

#error-page .btn-back {
    display: inline-block;
    font-size: 1.5em;
    padding: 7px 25px 7px 25px;
    color: var(--btn-back-foreground-color);
    cursor: pointer;
    background-color: var(--btn-back-background-color);
    border: 1px var(--btn-back-border-color) solid;
}
#error-page .btn-back:hover {
    background-color: var(--btn-back-background-color-hover);
}