/* General */
#page-menu {
    position: relative;
    background-color: #32373c;
    color: #eee;
    height: 100%;
    /* width: 200px; */
    flex: 0 0 10em;
    padding-top: 15px;
}
#page-menu * {
    color: #eee;
    font-size: 17px;
}

/* Main menu */
#page-menu .main-menu li {
    width: 100%;
    padding: 10px 0 10px 15px;
    /* margin: 10px 0 10px 0; */
    position: relative;
    cursor: pointer;
}
#page-menu .main-menu li:hover {
    background-color: #585959;
}
#page-menu .main-menu li:hover .sub-menu {
    display: block;
}

#page-menu .main-menu .current-option {
    background-color: #585959;
}

/* Sub menu */
#page-menu .sub-menu {
    display: none;
    position: absolute;
    left: 150px;
    top: 0px;
    background-color: #32373c;
    width: 220px;
}