/* General */
#page-menu {
    --page-menu-background-color: #32373c;
    --page-menu-foreground-color: #eee;
    --page-menu-hover: #585959;

    position: relative;
    background-color: var(--page-menu-background-color);
    color: var(--page-menu-foreground-color);
    height: 100%;
    /* width: 200px; */
    flex: 0 0 10em;
    padding-top: 15px;
}
#page-menu * {
    color: var(--page-menu-foreground-color);
    font-size: 17px;
}

/* Main menu */
#page-menu .main-menu li {
    width: 100%;
    padding: 10px 0 10px 15px;
    position: relative;
    cursor: pointer;
}
#page-menu .main-menu li:hover {
    background-color: var(--page-menu-hover);
}
#page-menu .main-menu li:hover .sub-menu {
    display: block;
}

#page-menu .main-menu .current-option {
    background-color: var(--page-menu-hover);
}

/* Sub menu */
#page-menu .sub-menu {
    z-index: 10;
    display: none;
    position: absolute;
    left: 150px;
    top: 0px;
    background-color: var(--page-menu-background-color);
    width: 220px;
}