.pagination-container {
    /* margin-bottom: -10px; */
    display: flex;
    justify-content: center;
}
.pagination-container .page-direction {
    display: inline-block;
    padding-top: 3px;
    margin: 0 3px 10px 3px;
    width: 30px;
    height: 30px;
    background-color: white;
    /* border: 1px black solid; */
    color: black;
}
.pagination-container .page-direction:hover {
    background-color: #f2f2f2;
}

.pagination-container .page-number {
    display: inline-block;
    padding-top: 5px;
    margin: 0px 3px 0px 3px;
    width: 30px;
    height: 30px;
    /* border: 1px black solid; */
    background-color: white;
    color: black;
}
.pagination-container .page-number:hover {
    background-color: #f2f2f2;
}

.pagination-container .current-page {
    background-color: #585959;
    color: white;
}
.pagination-container .current-page:hover {
    background-color: #32373c;
}